html{
    scroll-behavior:smooth
}
body{
    background-color: grey /*Sets background colour*/
}

main{
    font-size: large; /*sets default font size and margin*/
    margin-left: 50px
}

h1{
    text-align: center; /*sets size and position of each H1 tag*/
    font-size: xx-large;
}

.Logo-Container{
    display: flex; /*styles the Main Squadrons logo on each page*/
    flex-direction: row;
    justify-content: space-around;
}
.navtop ul{ /*styles nav bar colour, text colour, alignment and sizes */
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgb(197, 197, 197);
    padding: 20px;
    font-size: large;
}

.navtop li{
    display: inline-block;
    margin-inline-start: 100px;
    width:10%;
}

.grid { /*styles each grid*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

li{ /*ensures lists do not display bullet points, sets sizes*/
    list-style-type: none;
    width: 574px;
}

li>a{ /*removes underline from links in a list*/
    text-decoration: none;
}

.nebTs{ /*styles grid for TheFlyingChilly youtube links*/
    /*display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1em;
    row-gap: 2rem;
    justify-items: center;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.nebTs>a{
    text-align: center;
}

.dFire{ /*styles grid for Quinntessence youtube links*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.tbTips{ /*styles grid for TimeBombTips youtube links*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

li > a > img{ /*Styles images within links - Eg youtube thumbnails*/
    width: 100%;
}

.Right{ /*Styles class right in home page*/
    margin-right: 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-left: 50rem;
}

.Left{ /*Styles class left in home page*/
    margin-left: 10rem;
    display: flex;
    padding: 25px;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-right: 50rem;
}

.fighterTextR{ /*Styles Republic fighter text in home page*/
    padding-left: 10px;
    font-size: x-large;
    color: rgb(179, 10, 10);
}

.fighterTextE{ /*Styles Empire fighter text in home page*/
    padding-left: 10px;
    font-size: x-large;
    color: rgb(2, 0, 155);
}

.Left img{ /*Styles Left Images in home page*/
   float: left;
}

.Right img{ /*Styles Right Images in home page*/
    float: right;
}

@media screen and (max-width:1900px) { /*styles each section on home page in flex box using media screen*/
    .Left{
        display: flex;
        margin-left: 30px;
        margin-right: 0px;
    }

    .Right{
        display: flex;
        margin-left: 0px;
    }
}

.shipDescriptions img{ /*styles images in Home page*/
    width: 400px;
}

h2{ /*size and padding of all H2 Tags*/
    padding-left: 8.5%;
    font-size: xx-large;
}

.loadoutMain{ /*Sets grid format for Both faction Loadout Generators*/
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.empGenerate{ /*Styles font colour and button style/size for empire generate button*/
    color: rgb(2, 0, 155);
    margin-left: 45%;
    margin-right: 45%;
    border-radius: 10%;
}

.nrGenerate{ /*Styles font colour and button style/size for Republic generate button*/
    color: rgb(179, 10, 10);
    margin-left: 45%;
    margin-right: 45%;
    border-radius: 10%;
}

.eGenTxt{ /*Styles font colour and placement for subheadings above generator*/
    color: rgb(2, 0, 155);
    text-align: center;
}

.nrGenTxt{
    color: rgb(179, 10, 10);
    text-align: center;
}

/*Styles each image size and position in loadout generator*/

#republicShip{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 30%;
}

#empireShip{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 30%;
}
#cannons{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container{
    padding-left:40%;
    padding-right: 40%;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 20px;
}

#aux1{
    width: 30%;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

#aux2{
    width: 30%;
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

#countermeasures{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}
#hull{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}
#shields{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}
#engines{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#Cannons{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#Aux1{
    width: 30%;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

#Aux2{
    width: 30%;
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

#Countermeasures{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}
#Hull{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}
#Shields{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}
#Engines{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.officialSite{ /*styles positioning of official site link*/
    text-align: center;
    margin-left: 42%;
    margin-right: 38%;
}