html{
    scroll-behavior:smooth
}
body{
    background-color: grey
}

main{
    font-size: large;
    margin-left: 50px
}

h1{
    text-align: center;
}

.Logo-Container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navtop ul{ /*styles nav bar colour, text colour, alignment and sizes */
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgb(197, 197, 197);
    padding: 20px;
    font-size: large;
}

.navtop li{
    display: inline-block;
    margin-inline-start: 50px;
    width:10%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

li{
    list-style-type: none;
    width: 574px;
}

li>a{
    text-decoration: none;
}

.nebTs{
    /*display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1em;
    row-gap: 2rem;
    justify-items: center;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.nebTs>a{
    text-align: center;
}

.dFire{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.tbTips{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

li > a > img{
    width: 100%;
}